tensorflow
mediapipe
opencv-python
googletrans==3.1.0a0
speechrecognition
pillow
numpy
matplotlib
tk
webcolors
scikit-image
scikit-learn
pyautogui
PyAudio
flask
torch
tomesd
deepcache
diffusers
transformers
accelerate