tensorflow
mediapipe
opencv-python
speechrecognition
pillow
numpy
matplotlib
requests
tk
webcolors
scikit-image
scikit-learn
pyautogui
PyAudio
flask
torch
tomesd
deepcache
diffusers
transformers
accelerate